fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
PyPDF2==3.0.1
langchain==0.2.16
langchain-community==0.2.17
langchain-core==0.2.40
langchain-groq==0.1.9
langchain-text-splitters==0.2.4
langchain-huggingface==0.0.3
chromadb==0.4.18
sentence-transformers>=2.6.0
groq==0.4.1
openai-whisper
pyttsx3==2.90
pytesseract==0.3.10
pdf2image==1.16.3
opencv-python-headless==4.8.1.78
python-dotenv==1.0.0
requests==2.31.0
torch
torchaudio
